/* Minification failed. Returning unminified contents.
(193,16): run-time error CSS1036: Expected expression, found ';'
(631,16): run-time error CSS1036: Expected expression, found ';'
 */
#EntryTag {
	margin-top: 20px;
	font-size: 9pt;
	color: gray;
}
.topicListFooter {
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
}
#divRefreshComments{
	text-align: right; 
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 9pt;
}
/*****第一部分结束*******************************/

/**************************************************
第二部：公共样式（全局样式）。公共会对所有页面的标签都起作用。这个部分你
可以随意的更改，并不会牵扯到其他的皮肤模板。但是每次更改都要注意你的皮肤
模板所有页面的变化。因为它们是全局的。
**************************************************/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	color: #000;
	background: url(images/bg_body.gif) left top;
	font-family: "verdana","ms song","宋体","Arial","微软雅黑", "Helvetica", "sans-serif";
	font-size: 9pt;
	min-height: 101%;
}
/*
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
fieldset, img {
	border: 0;
}
ul {
	word-break: break-all;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
 a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #333;
	text-decoration: underline;
}
a:active {
	color: #333;
	text-decoration: none;
}

#sideBar a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#sideBar a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#sideBar a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#sideBar a:active {
	color: #FFFFFF;
	text-decoration: none;
}
#header a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#header a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#header a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#header a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.clear {
	clear: both;
}
/*****第二部分结束*******************************/

/**************************************************
第三部分：各个页面元素的样式。你可以根据需要随意的更改，并不会牵扯到其他
的皮肤模板。这个部分是最能展现你想象力的部分。其中头部和侧边栏部分是此皮
肤公共的部分。而每个页面特有的部分会有相应的注释和说明。
**************************************************/
/*****home和头部开始**************************/
#home {
	margin: 0 auto;
	width:100%;
	min-width: 930px;
}
#header {
	background:url(images/header.jpg) right top no-repeat;
	height:288px;
}
#blogTitle {
	height: 288px;
	clear: both;
	background:url(images/bg_title.jpg) 10px 0px no-repeat;

}
#blogTitle h1 {
	font-size: 150%;
	font-weight: bold;
	line-height: 1.5em;
	padding-top: 25px;
	margin-left: 1em;
	font-family: "微软雅黑","ms song","宋体","Arial","verdana","Helvetica", "sans-serif";
	font-size:64px;
}
#blogTitle a{
	color:#FFFFFF;
}
#blogTitle h2 {
	font-size: 150%;
	font-weight: bold;
	line-height: 1.5em;
	padding-top: 25px;
	margin-left: 3.5em;
	font-family: "微软雅黑","ms song","宋体","Arial","verdana","Helvetica", "sans-serif";
	font-size:20px;
	color:#FFFFFF;
}
#blogLogo {
	float: right;
}
/*****home和头部结束**************************/

/*****主页文章列表开始**************************/
#main{
	width: 97%;
	min-width: 950px;
	text-align: left;
	margin:auto;
}

#mainContent .forFlow{
	margin:0 0 0 250px;
	background:#FFFFFF url(images/bg_left.gif) right top repeat-x;
	padding-top:35px;
	padding-bottom:15px;
}

#mainContent {
	float:right;
	width:100%;
	margin:0 0 0 -250px;
	background:transparent;
	border:solid 0px green;
	text-align:left;	
	overflow-x:hidden;
}
#navigator {
	clear: both;
	width:95%;
	margin:auto;
	height:40px;
	background:#FFFFFF url(images/line.gif) left bottom repeat-x;
	margin-bottom:20px;
}
#navList {
	min-height: 30px;
	float: left;
	margin-bottom:;
}
#navList li {
	float: left;
}
#navList a {
	height: 22px;
	float: left;
	text-align: center;
	padding-top: 8px;
	margin-right:12px;
}
#navList a {
	color: #333333;
}
#navList a:hover {
	color: #935A32;
}

.blogStats {
	float: right;
	color: #333333;
	margin-top:8px;
	text-align: right;
}
.day {
	min-height: 10px;
	_height: 10px;
	margin:auto auto 20px auto;
	padding-bottom: 25px;
	width:95%;
	background:#FFFFFF url(images/line.gif) left bottom repeat-x;
	font-size:14px;
}
.dayTitle {
	width: 100%;
	color: #666;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 14px;
	margin:3px auto 5px 1px;
	clear:both;
	text-align:left;
}
.dayTitle a:link, .dayTitle a:hover, .dayTitle a:active, .dayTitle a:visited{
	color:#935A32;
}
.postTitle {
	font-weight: bold;
	float: right;
	line-height: 1.5em;
	width: 100%;
	clear:both;
	font-size: 14px;
}
.postTitle a:link, .postTitle a:visited, .postTitle a:active {
	color: #333;
}
.postTitle a:hover {
	color: #AA7A53;
	text-decoration: underline;
}
.postCon {
	float: right;
	line-height: 1.5em;
	width: 100%;
	clear:both;
	padding: 10px 0;
	font-size:13px;
}
.postDesc {
	float: right;
	width: 100%;
	clear:both;
	text-align: right;
	padding-right: 5px;
	color: #666;
	margin-top: 5px;
	font-size:12px;
}
.postDesc a:link, .postDesc a:visited, .postDesc a:active {
	color: #AA7A53;
}
.postDesc a:hover {
	text-decoration: underline;
}
.postSeparator {
	clear: both;
	height: 1px;
	width: 100%;
	clear:both;
	float: right;
	margin: 0 auto 15px auto;
}
/*****主页文章列表开始**************************/

/*****侧边栏开始********************************/
#sideBar {
	width: 230px;
	padding: 0px 5px 0px 0;
	float: left;
	-o-text-overflow: ellipsis;
	color:white;
	font-size:110%;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
}
.newsItem .catListTitle {
	display: none;
}
.newsItem {
	padding: 15px 0 5px 0px;
	margin-bottom: 8px;
}
/**日历控件样式开始**/
#calendar {
	width: 229px;
}
#calendar .Cal {
	width: 100%;
	line-height: 2em;
}
.Cal {/**日历容器table**/
	border: 0px solid black;
	color: #FFFFFF;
}
#calendar table a:link, #calendar table a:visited, #calendar table a:active {
	font-weight: bold;
	color:#FFFFFF;
}
#calendar td,#calendar th{
	font-size:12px;
}
.CalTodayDay{/**今天日期样式**/
	background:url(images/bg_cal_today.gif) 52% 3px no-repeat;
	color:white;
}
#calendar .CalNextPrev a:link,#calendar  .CalNextPrev a:visited, #calendar .CalNextPrev a:active {/**上个月、下个月箭头样式**/
	font-weight: bold;
	color:#FFFFFF;
	background-color:Transparent;
}
#calendar .CalNextPrev a:hover {/**上个月、下个月箭头样式**/
	font-weight: bold;
	color:white;
	background-color: #680000;
}
.CalDayHeader{
	background:url(images/bg_cal_day.gif) 50% 0 no-repeat;
	color:white;
	padding-bottom:5px;
}
.CalTitle{/**日历年月头部样式**/
	background:transparent;
	color: #AA7A53;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:100%;
}
/**日历控件样式结束**/

.catListTitle {
	font-weight: bold;
	line-height: 1.2em;
	font-size: 25px;
	font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica", "sans-serif";
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: left;
	background:url(images/title_cata.gif) 0 50% no-repeat;
	color:#AA7A53;
	padding:8px 0px 0px 32px;
}
.catListComment {
	line-height: 1.5em;
}
.divRecentComment {
	color: #666;
	margin-bottom:1em;
}
#sideBarMain ul {
	line-height: 1.5em;
}
/*****侧边栏结束********************************/


/****查看文章页面开始*************************/
#topics {
	width: 95%;
	min-height: 200px;
	padding: 0px 0px 10px 0;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	margin:auto;
}

#topics a:link {
	/*color: #075DB3;
	text-decoration: none;*/
}
#topics a:visited {
	/*color: #075DB3;
	text-decoration: none;*/
}
#topics a:hover {
	color: #AA7A53;
	text-decoration: underline;
}
#topics a:active {
	/*color: #075DB3;
	text-decoration: none;*/
}

#topics .postTitle {
	font-size: 14px;
	font-weight: bold;
	float: left;
	line-height: 1.5em;
	padding-left: 5px;
}
.postBody {
	padding: 5px 2px 5px 5px;
	line-height: 1.5;
	color: #000;
	font-size:13px;
}
.postBody p{
	line-height: 1.5;
	color: #000;
	font-size:13px;	
}
.postBody span{
    line-height: 1.5;
}
#EntryTag {
	color: #666;
}
#EntryTag a {
	margin-left: 5px;
}
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active {
	color: #666;
}
#EntryTag a:hover {
	color: #f60;
}
#topics .postDesc {
	float: right;
	width: 100%;
	text-align: right;
	padding-right: 5px;
	color: #666;
	margin-top: 5px;
}
.feedback_area_title {
	font-weight: bold;
	padding-left: 8px;
	border-bottom: 1px solid #666;
	margin:20px auto 10px auto;
	width:90%;
}
.louzhu {
background:transparent url(images/icoLouZhu.gif) no-repeat scroll right top;
padding-right:16px;
}
.feedbackListSubtitle {
	color: #666;
	margin:auto;
	width:90%;
	margin:auto;
	margin-bottom:5px;
}
.feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active {
	color: #666;
	font-weight: normal;
}
.feedbackListSubtitle a:hover {
	color: #f60;
	text-decoration: none;
}
.feedbackManage {
	width: 160px;
	text-align: right;
	float: right;
}
.feedbackCon {
	background: url(images/comment.gif) no-repeat 5px 0px;
	padding: 25px 18px 10px 40px;
	min-height: 35px;
	_height: 35px;
	line-height: 1.5em;
	margin:auto auto 1em auto;
	width:85%;
	border-bottom:solid 1px #EDD9B8;
}
#divRefreshComments {
	text-align: right;
	width:90%;
	margin:auto;

}
.commentform{
	width:90%;
	margin:auto;
	margin-bottom: 10px;
}


.commentform table td input{
	margin:2px auto;
}

.contact
{
	margin-left:5px;
}

.contact table td input{
	margin:2px auto;
}

.commenttb {
	width: 320px;
}

#HistoryToday{
	font-weight:bold;
}
#HistoryToday li{
	font-weight:normal;
	line-height:1.5em;
}

#MyArticlesInter{
	font-weight:bold;
}
#MyArticlesInter li{
	font-weight:normal;
	line-height:1.5em;
}
/****查看文章页面开始*************************/

/****列表页面开始******************************/
.entrylist{
	width:95%;
	margin:auto;
}
.entrylistTitle,.PostListTitle,.thumbTitle{/**几个分类列表的标题样式**/
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-bottom: 3px;
	padding-right: 10px;
}

h1.PostListTitle{
padding-left: 5px;
}

.entrylistDescription {
	color: #666;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.entrylistItem {
	min-height: 20px;
	_height: 20px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	width: 100%;
}
.entrylistPosttitle {
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid #EDD9B8;
	line-height: 1.5em;
	width: 100%;
	padding-left: 5px;
	font-size:14px;
}
.entrylistPosttitle a:hover {
	text-decoration: none;
}
.entrylistPostSummary {
	margin-top: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
	font-size:14px;
	line-height:1.5em;
}
.entrylistItemPostDesc {
	text-align: right;
	color: #666;
}
.entrylistItemPostDesc a:link, .entrylistItemPostDesc a:visited, .entrylistItemPostDesc a:active {
	color: #666;
}
.entrylistItemPostDesc a:hover {
	color: #f60;
}
.entrylist .postSeparator {
	clear: both;
	width: 100%;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	height: 0;
	border: none;
}

.pager {
	text-align: right;
	margin-right: 10px;
}
.PostList {
	border-bottom: 1px solid #ccc;
	clear: both;
	min-height: 1.5em;
	_height: 1.5em;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
}
.postTitl2 {
	float: left;
}
.postDesc2 {
	color: #666;
	float: right;
	margin-right: ;
}
.postText2 {
	clear: both;
	color: #666;
}

#profile{
	width:95%;
	margin:auto;
}
.pfl_feedback_area_title {
	text-align: right;
	line-height: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}
.pfl_feedbackItem {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
.pfl_feedbacksubtitle {
	width: 100%;
	border-bottom: 1px dotted #666;
	height: 1.5em;
}
.pfl_feedbackname {
	float: left;
}
.pfl_feedbackManage {
	float: right;
}
.pfl_feedbackCon {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pfl_feedbackAnswer {
	color: #F40;
}
.tdSentMessage {
	text-align: right;
}
.errorMessage {
	width: 300px;
	float: left;
}
/*.mySearch #q {
	height: 1.4em;
	width: 175px;
}*/
/****列表页面结束******************************/

/****相册页面开始******************************/
.divPhoto {
	border: 1px solid #ccc;
	padding: 2px;
	margin-right: 10px;
	margin-left:10px;
}

.thumbDescription {
	color: #666;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}
/****相册页面开始******************************/


/*****留言页面开始*****************************/
#footer {
	text-align: center;
	color:white;
	font-family: "微软雅黑","ms song","宋体","Arial","verdana","Helvetica", "sans-serif";
	font-size:20px;
	min-height: 15px;
	height:30px;
	margin-top: 10px;
	padding-top: 30px;
	background: url(images/bg_left_2.gif) top left repeat-x;
}
/*留言查看页面的个人信息*/
.personInfo {
	margin-bottom: 20px;
}
/*留言分页区域*/
.pages {
	text-align: right;
}
/*****留言页面结束*****************************/
/*****第三部分结束*******************************/

/**************************************************
第四部分：文章内容常用标签格式。这个部分是设置作者写作内容的部分。例如：
如果作者的文章用有p标签，则可通过这个对这些文章中的p标签进行设置。前面
的“.postBody”明确的指出了这里样式的作用范围。仅仅适用于文章主体部分。
建议这个不要设置过于详细的细节。因为，一些样式，一篇文章比较适合的话，
并不能保证所有的文章都适合。
**************************************************/
/*文章内部常用标签格式*/
.postBody {
	margin-top:5px;
}
.postBody p,.postCon  p{
	/*margin: 0 auto 1em auto;*/
	line-height: 1.5;
}
.postBody h2{
	font-size: 150%;
	margin: 15px auto 2px auto;
	font-weight:bold;
}
.postBody h3 {
	font-size: 120%;
	margin: 15px auto 2px auto;
	font-weight:bold;
}
.postBody h4{
	font-size:110%;
	margin:15px auto 2px auto;
	font-weight:bold;
	color:#333;
}

.postBody h5{
	font-size:100%;
	margin:15px auto 2px auto;
	font-weight:bold;
	color:#333;
}

.postBody a:link,.postBody a:visited,.postBody a:active{
	text-decoration:underline;
}
.postCon a:link,.postCon a:visited,.postCon a:active{
	text-decoration:underline;
}
.postBody ul,.postCon ul{
	margin-left:2em;	
}

.postBody li,.postCon li{
	list-style-type:disc;
	margin-bottom:1em;
}

.postBody blockquote{
	background:url('images/comment.gif') no-repeat 25px 0px;
	padding:10px 60px 5px 60px;
	min-height:35px;
	_height:35px;
	line-height:1.6em;
	color:#333;
}
/*****第四部分结束*******************************/
#mainContent .gallery{
text-align:center;
}

.comment_pager{
width:90%;
margin:auto auto 5px;
}

#taglist table{margin-top:10px;}
#taglist td{padding:5px;}
#taglist td span{color:#555;}

#divCommentShow{color:#000;}
#comment_form a{color:#000;}

.blog_comment_body a:link{
    text-decoration: underline;
}
