@font-face {
  font-family: 'FontAwesome';
  src: url(/assets/fontawesome-webfont-d8970a29b6bda4953188db1bf11caa77.eot?v=3.2.1);
  src: url(/assets/fontawesome-webfont-d8970a29b6bda4953188db1bf11caa77.eot?#iefix&v=3.2.1) format("embedded-opentype"), url(/assets/fontawesome-webfont-b6eacf39cdd874409fca9bbfa0fd5524.woff?v=3.2.1) format("woff"), url(/assets/fontawesome-webfont-e6510d64f0dee7530f4c35b4eccbe2eb.ttf?v=3.2.1) format("truetype"), url(/assets/fontawesome-webfont-4bb899176c47fb8cc6662a8929eebc8a.svg#fontawesomeregular?v=3.2.1) format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

.icon-bold:before {
  content: "\f032"; }

.icon-italic:before {
  content: "\f033"; }

.icon-quote-left:before {
  content: "\f10d"; }

.icon-list-ul:before {
  content: "\f0ca"; }

.icon-list-ol:before {
  content: "\f0cb"; }

.icon-link:before {
  content: "\f0c1"; }

.icon-picture:before {
  content: "\f03e"; }

.icon-reply:before {
  content: "\f112"; }

.icon-share-alt:before {
  content: "\f064"; }

.icon-preview:before {
  content: "\f06e"; }
