.pub_fo{width:100%; background-color:#fff;margin-top: 10px; overflow:hidden;border-top: 1px solid #f0f0f0}
.pub_footer_new{width:1170px; overflow: hidden; margin: 0 auto 20px;}
@media (max-width: 1170px) {
	.pub_footer_new {   
		width: 98%;
	}
}
.pub_footer_new dl,.pub_footer_new dt,.pub_footer_new dd{margin: 0px; padding: 0px;}
.pub_footer_new .foot_sub_menu{width:100%; border-bottom: 1px solid #e0e0e0; font-size:14px; overflow: hidden; margin-top:15px;}
.pub_footer_new .foot_sub_menu a{color:#666; font-family: 'microsoft yahei'; text-decoration: none; display: block; height:20px; float: left; margin-bottom: 10px;}
.pub_footer_new .foot_sub_menu a:hover{color:#cc0000;}
.pub_footer_new .foot_sub_menu span{color:#d1d1d1; padding: 0 8px;display: block; float: left; height:20px;margin-bottom: 10px;}

.pub_footer_new .foot_contact{ font-family: 'microsoft yahei'; font-size:12px; overflow:hidden;width:100%; }
.pub_footer_new .foot_contact .qq{ display: block; float: left; height: 35px; line-height:35px; padding-left:20px; background:url(../images/qq_icon.png) left 10px no-repeat; margin-right:9px;color:#666; text-decoration: none;}
.pub_footer_new .foot_contact .qq:hover{background:url(../images/qq_icon.png) left -25px no-repeat;}

.pub_footer_new .foot_contact .weibo{ display: block; float: left; height: 35px; line-height:35px; padding-left:23px; background:url(../images/weibo_icon.png) left 10px no-repeat; margin-right:9px;color:#666;text-decoration: none;}
.pub_footer_new .foot_contact .weibo:hover{background:url(../images/weibo_icon.png) left -25px no-repeat;}

.pub_footer_new .foot_contact .email{ display: block; float: left; height: 35px; line-height:35px; padding-left:20px; background:url(../images/mail_icon.png) left 11px no-repeat; margin-right:9px;color:#666;text-decoration: none;}

.pub_footer_new .foot_contact .email:hover{background:url(../images/mail_icon.png) left -27px no-repeat;}

.pub_footer_new .foot_contact .phone{ display: block; float: left; height: 35px; line-height:35px; padding-left:20px; background:url(../images/phone_icon.png) left 11px no-repeat; color:#666;}

.pub_footer_new .foot_contact span{display: block; float: left; height: 35px; line-height:35px;color:#666;}
.pub_footer_new .interval{color:#d1d1d1; padding: 0 6px; margin:0px;}

.pub_footer_new .foot_copyright{font-size: 12px; color:#9c9c9c;font-family: 'microsoft yahei';width:100%;}
.pub_footer_new .foot_copyright span{display: block; float: left;height: 21px; line-height: 21px;}
.pub_footer_new .foot_copyright a{display: block; float: left;height: 21px; line-height: 21px;}
.pub_footer_new .foot_copyright a img{height:21px; padding-left: 10px;}
