@import url(normalize.css);

/* Import the font file with the icons in it */
@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

/* Each icon is created by inserting the corret character into the 
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}


/* ==========================================================================
   1. General - Setting up some base styles
   ========================================================================== */

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,freesans,sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.3em;
    color: #13120E;
    background: url(../img/body-background.png) #eae6d1;
}

::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2.1rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
    font-weight: 400;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

h6 {
    font-size: 1.1rem;
    font-weight: 400;
}

a {
    font-weight: bold; 
    color: #3399cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: #4183C4;
}


p, ul, ol {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #444;
    margin: 3.2em 0;
    padding: 0;
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    padding: 0 0 0 1.6em;
    border-left: #666666 0.4em solid;
    color: #666666;
    font-family: Georgia,Times,serif;
    font-style: italic;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;;
    font-size:0.9em;
    color: #ccc;
}

blockquote small:before { content: '\2014 \00A0'; }

blockquote cite {
    font-weight:bold;
}

blockquote cite a { font-weight: normal; }


dl {
    margin: 1.6em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

mark {
    background-color: #ffc336;
}

code, tt {
    padding: 3px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre;
    border: 1px solid #444;
    background: #232323;
    color: #E6E1E1;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #444444;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #232323;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 3;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 
        0 1px 0 rgba(0, 0, 0, 0.2), 
        0 1px 0 0 #fff inset;
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    width:100%;
    max-width: 100%;
    background-color: transparent;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #efefef;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody { border-top: 2px solid #efefef; }

table table table { background-color: #fff; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain {
    tbody > tr:nth-child(odd) > td,
    tbody > tr:nth-child(odd) > th {
        background: transparent;
    }
}


/* ==========================================================================
   1. Utilities - These things get used a lot
   ========================================================================== */

/* Hides shit */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

/* Centres vertically yo. (IE8+) */
.vertical {
    /*display: table-cell;*/
    vertical-align: middle;
}


/* ==========================================================================
   1. General
   ========================================================================== */

#content {
  width: 80%;
  margin: 0 auto;
}

#content-left {
  width: 20%;
  margin-bottom: 5rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4rem;
}

#content-main {
    /* The look of the center */
    background: #fbfbfb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.09),inset 0 0 2px 2px rgba(255,255,255,0.5),inset 0 0 5px 5px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.09),inset 0 0 2px 2px rgba(255,255,255,0.5),inset 0 0 5px 5px rgba(255,255,255,0.4);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.09),inset 0 0 2px 2px rgba(255,255,255,0.5),inset 0 0 5px 5px rgba(255,255,255,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.09),inset 0 0 2px 2px rgba(255,255,255,0.5),inset 0 0 5px 5px rgba(255,255,255,0.4);
    /* The positioning of the center */
    display: inline-block;
    margin: 20px 0;
    width: 79%;
}

#blog-logo img {
    display: inline;
    max-height: 2.2rem;
    width: auto;
    margin-left: 1rem; 
   -webkit-border-radius: 3px;
    border-radius: 3px;
}

#back {
    color: rgba(0,0,0,0.2);
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 6px;
    font-size: 16px;
}

.blog-title {
    margin: 10px 0 10px 0;
    font-size: 3rem;
    letter-spacing: -1px;
    display: inline; 
    color: #ffffff; 
    text-shadow: 0 2px 0 #235796;
}

.blog-title-link {
    color: #ffffff;
}

.blog-title-wrap {
    background: #2B3780;
}

.latest-10-posts-title {
    margin: 10px 0 10px 0;
    margin-left: 1rem;
    font-size: 2rem;
    letter-spacing: -1px;
    display: inline; 
    color: #ffffff; 
    text-shadow: 0 2px 0 #235796;
}

.latest-10-posts-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #2B3780;
}

.blog-description {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 0;
}

.blog-description-wrap {
    padding: 1em 0;
}

.post {
    position: relative;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #333 1px solid;
    word-break: break-word;
    hyphens: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.post-title {
    font-size: 3.2rem;
    margin:0 0 1rem 0;
}

.post-excerpt p {
    margin: 1.6rem 0 0 0;
    font-size: 0.9em;
    line-height: 1.6em;
}

.post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-size: 1.3rem;
    color: #999999;
}

.post-meta a {
    color: #999999;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.side-bar {
    /* Positioning of the side-bar */
    width: 15%;
    overflow-y: auto;
    position: fixed;
}

.side-bar ul {
  list-style-type: none;
  margin: 0 0 0 0;
}

.nav-latest-post {
   margin-top: 2px;
   margin-bottom:7px;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: bold;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: bold;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}

/* ==========================================================================
   1. Single Post - When you click on an individual post
   ========================================================================== */

.post-template .post {
    border-bottom: none;
    padding-bottom: 0;
}

.post-template .post:after {
    display: none;
}

.post-template .post-header {
    padding: 60px 0;
}

.post-content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.post-footer {
    position: relative;
    margin: 4rem 0 0 0;
    padding: 4rem 0 0 0;
    border-top: #222 1px solid;
}

.post-footer h4 {
    font-size: 1.8rem;
    margin: 0;
}

.post-footer p {
    margin: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.6em;
}

.post-footer .author {
    margin-right: 180px;
}

.post-footer .share {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 140px;
}

.post-footer .share a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 1.4rem 1.6rem 1.6rem 0;
    color: #000000;
}

.post-footer .share a:hover {
    color: #50585D;
    text-decoration: none;
}


/* ==========================================================================
   1. Pagination
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    font-size: 1.3rem;
    color: #999999;
    text-align: center;
}

.pagination a {
    color: #000000;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #444 2px solid;
    text-decoration: none;
    border-radius: 30px;
    transition: border ease 0.3s;
}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.newer-posts {
    left: 0;
}

.older-posts:hover,
.newer-posts:hover {
    border-color: #999999;
}


/* ==========================================================================
   1. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    position: relative;
    margin: 8rem auto 0 auto;
    padding: 4rem 0;
    border-top: #222 1px solid;
    font-size: 1.3rem;
    line-height: 1.7em;
    color: #777777;
    text-align: center;
}

.poweredby .icon-ghost {
    font-weight: 700;
    text-decoration: none;
}

.poweredby .icon-ghost:hover {
    text-decoration: none;
}

.poweredby .icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

/* The subscribe icon on the footer */
.subscribe {
    width: 28px;
    height: 28px;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -15px;
    border: #444 1px solid;
    text-align: center;
    line-height: 2.4rem;
    border-radius: 50px;
    background: #232323;
    transition: box-shadow 0.5s;
}

/* The RSS icon, inserted via icon font */
.subscribe:before {
    color: #DDDDDD;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 9px;
    font-weight: bold;
    transition: color 0.5s ease;
}

/* Add a box shadow to on hover */
.subscribe:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;
}

.subscribe:hover:before {
    color: #50585D;
}

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
    opacity:0;
    display: inline-block;
    padding: 4px 8px 5px 8px;
    position:absolute;
    top: -23px;
    left: -23px;
    color: rgba(255,255,255,0.9);
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    background: #50585D;
    border-radius:20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease, top 0.3s ease;
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
    content:"";
    border-width:5px 5px 0 5px;
    border-style:solid;
    border-color: #50585D transparent;
    display:block;
    position:absolute;
    bottom:-4px;
    left:50%;
    margin-left:-5px;
    z-index: 220;
    width:0;
}

/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
    opacity: 1;
    top: -33px;
}

input {
  background: #444;
}

/* ==========================================================================
   1. Gist embed styling
   ========================================================================== */

.gist {
    margin:2rem auto;
}

.gist table {
    font-size: 1.4rem;
    margin: 0;
}
.gist .line-number {
    font-size: 1rem;
    width: 10px;
}

/* ==========================================================================
   1. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {

    /*#blog-logo img {
        max-height: 80px;
    }*/

    #content {
      width: 90%;
      margin: 0 auto;
    }

    #content-left {
      width: 100%;
      margin-bottom: 10px;
    }

    #content-main{
      width: 100%;
      margin-top: 10px;
    }

    .inner,
    .pagination {
        width: auto;
    }

    .post {
        width:auto;
        margin-left: 0px;
        margin-right: 16px;
        margin-top: 10px;
        width: 100%;
    }

    .post-template .post {
        padding-bottom: 0;
    }

    .post-template .post-header {
        padding: 30px 0;
    }

    .post-footer {
        padding: 4rem 0;
        text-align: center;
    }

    .post-footer .author {
        margin: 0 0 2rem 0;
        padding: 0 0 1.6rem 0;
        border-bottom: #EEEEEE 1px dashed;
    }

    .post-footer .share {
        position: static;
        width: auto;
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0 0.8rem;
    }

    .older-posts,
    .newer-posts {
        position: static;
        margin: 10px 0;
    }

    .page-number {
        display: block;
    }

    .side-bar {
        width: 100%;
        position: relative;
    }

    .site-footer {
        margin-top: 6rem;
        font-size: 1.1rem;
    }

}
