.codehilite .hll {
  background-color: #ffffcc; }

  .codehilite .c {
    color: #228B22; }

    .codehilite .err {
      color: #a61717;
      background-color: #e3d2d2; }

      .codehilite .k {
        color: #8B008B;
        font-weight: bold; }

        .codehilite .cm {
          color: #228B22; }

          .codehilite .cp {
            color: #1e889b; }

            .codehilite .c1 {
              color: #228B22; }

              .codehilite .cs {
                color: #8B008B;
                font-weight: bold; }

                .codehilite .gd {
                  color: #aa0000; }

                  .codehilite .ge {
                    font-style: italic; }

                    .codehilite .gr {
                      color: #aa0000; }

                      .codehilite .gh {
                        color: #000080;
                        font-weight: bold; }

                        .codehilite .gi {
                          color: #00aa00; }

                          .codehilite .go {
                            color: #888888; }

                            .codehilite .gp {
                              color: #555555; }

                              .codehilite .gs {
                                font-weight: bold; }

                                .codehilite .gu {
                                  color: #800080;
                                  font-weight: bold; }

                                  .codehilite .gt {
                                    color: #aa0000; }

                                    .codehilite .kc {
                                      color: #8B008B;
                                      font-weight: bold; }

                                      .codehilite .kd {
                                        color: #8B008B;
                                        font-weight: bold; }

                                        .codehilite .kn {
                                          color: #8B008B;
                                          font-weight: bold; }

                                          .codehilite .kp {
                                            color: #8B008B;
                                            font-weight: bold; }

                                            .codehilite .kr {
                                              color: #8B008B;
                                              font-weight: bold; }

                                              .codehilite .kt {
                                                color: #a7a7a7;
                                                font-weight: bold; }

                                                .codehilite .m {
                                                  color: #B452CD; }

                                                  .codehilite .s {
                                                    color: #CD5555; }

                                                    .codehilite .na {
                                                      color: #658b00; }

                                                      .codehilite .nb {
                                                        color: #658b00; }

                                                        .codehilite .nc {
                                                          color: #008b45;
                                                          font-weight: bold; }

                                                          .codehilite .no {
                                                            color: #00688B; }

                                                            .codehilite .nd {
                                                              color: #707a7c; }

                                                              .codehilite .ne {
                                                                color: #008b45;
                                                                font-weight: bold; }

                                                                .codehilite .nf {
                                                                  color: #008b45; }

                                                                  .codehilite .nn {
                                                                    color: #008b45;
                                                                    text-decoration: underline; }

                                                                    .codehilite .nt {
                                                                      color: #8B008B;
                                                                      font-weight: bold; }

                                                                      .codehilite .nv {
                                                                        color: #00688B; }

                                                                        .codehilite .ow {
                                                                          color: #8B008B; }

                                                                          .codehilite .w {
                                                                            color: #bbbbbb; }

                                                                            .codehilite .mf {
                                                                              color: #B452CD; }

                                                                              .codehilite .mh {
                                                                                color: #B452CD; }

                                                                                .codehilite .mi {
                                                                                  color: #B452CD; }

                                                                                  .codehilite .mo {
                                                                                    color: #B452CD; }

                                                                                    .codehilite .sb {
                                                                                      color: #CD5555; }

                                                                                      .codehilite .sc {
                                                                                        color: #CD5555; }

                                                                                        .codehilite .sd {
                                                                                          color: #CD5555; }

                                                                                          .codehilite .s2 {
                                                                                            color: #CD5555; }

                                                                                            .codehilite .se {
                                                                                              color: #CD5555; }

                                                                                              .codehilite .sh {
                                                                                                color: #1c7e71;
                                                                                                font-style: italic; }

                                                                                                .codehilite .si {
                                                                                                  color: #CD5555; }

                                                                                                  .codehilite .sx {
                                                                                                    color: #cb6c20; }

                                                                                                    .codehilite .sr {
                                                                                                      color: #1c7e71; }

                                                                                                      .codehilite .s1 {
                                                                                                        color: #CD5555; }

                                                                                                        .codehilite .ss {
                                                                                                          color: #CD5555; }

                                                                                                          .codehilite .bp {
                                                                                                            color: #658b00; }

                                                                                                            .codehilite .vc {
                                                                                                              color: #00688B; }

                                                                                                              .codehilite .vg {
                                                                                                                color: #00688B; }

                                                                                                                .codehilite .vi {
                                                                                                                  color: #00688B; }

                                                                                                                  .codehilite .il {
                                                                                                                    color: #B452CD; }
