.default-transition, a, .back_to_top_container .back_to_top_frame {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

  .align_center, .header_container nav, .post_list_container, .post_detail_container,
  .comments_container, .not_found_message_container, .tagcloud_container,
  .categories_container {
    margin-left: auto;
    margin-right: auto; }

    .main_width, .post_list_container, .pager_container, .post_detail_container,
    .comments_container, .archive_list_container, .not_found_message_container,
    .tagcloud_container, .categories_container {
      width: 61.8%; }

      .full_width, .header_container nav, .footer_container {
        width: 61.8%; }

        body {
          background-color: whitesmoke; }

          a {
            color: royalblue;
            text-decoration: none; }
            a:hover {
              color: lightcoral; }

.header_container {
  text-align: center;
  background-size: cover;
  margin: 0;
  overflow: hidden; }
  .header_container h1 {
    margin: 2em auto 1.2em auto; }
    .header_container h1 a {
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      color: steelblue; }
      .header_container h1 a:hover {
        color: lightseagreen; }
  .header_container nav {
    color: darkslategray;
    border-bottom: 1px solid cadetblue;
    line-height: 2.5em; }
    .header_container nav a {
      color: peru; }
      .header_container nav a:hover {
        color: darkslategray; }

.post_list_container .post_list_none {
  margin-top: 3em;
  text-align: center; }
  .post_list_container .post_list_entry {
    margin-top: 3em; }
    .post_list_container .post_list_entry h2.post_list_title {
      text-align: center; }
      .post_list_container .post_list_entry h2.post_list_title a {
        color: indianred; }
        .post_list_container .post_list_entry h2.post_list_title a:hover {
          color: lightcoral; }
    .post_list_container .post_list_entry p.post_list_entry_footer {
      margin-top: 1.2em;
      overflow: hidden; }
      .post_list_container .post_list_entry p.post_list_entry_footer .post_list_footer_float_right {
        float: right;
        overflow: hidden; }
        .post_list_container .post_list_entry p.post_list_entry_footer .post_list_footer_float_right .post_list_footer_date {
          color: lightsteelblue; }
      .post_list_container .post_list_entry p.post_list_entry_footer .post_list_tags {
        text-align: left; }
    .post_list_container .post_list_entry hr {
      margin-top: 1em; }

.pager_container {
  margin: 0em auto;
  font-size: 1.4em;
  overflow: hidden; }
  .pager_container a.next_page {
    float: right; }

.footer_container {
  margin: 2em auto 4em auto;
  text-align: center;
  border-top: 1px cadetblue solid; }
  .footer_container p.copyright {
    margin-top: 1.5em;
    color: darkslategray;
    line-height: 2.5em; }
    .footer_container p.copyright a {
      color: peru; }
      .footer_container p.copyright a:hover {
        color: darkslategray; }
    .footer_container p.copyright a.footer_site_title {
      color: royalblue; }
      .footer_container p.copyright a.footer_site_title:hover {
        color: lightcoral; }

.post_detail_container h1.post_detail_title {
  text-align: center;
  color: indianred; }
  .post_detail_container .post_detail_content p.post_detail_content_end {
    text-align: center;
    margin: 2em 0;
    color: darkred; }
.post_detail_container p.post_detail_tags {
  margin-bottom: 2em;
  text-align: center; }

.comments_container p.comments_leave_hint {
  font-size: 1.2em;
  line-height: 1.6em;
  border-bottom: 1px solid silver; }

.back_to_top_container .back_to_top_frame {
  text-align: center;
  position: fixed;
  width: 8rem;
  height: 6rem;
  right: 0rem;
  bottom: 0rem;
  font-size: 2rem;
  opacity: 0; }
  .back_to_top_container .back_to_top_frame:hover {
    opacity: 1; }
    .back_to_top_container .back_to_top_frame:active {
      pointer-events: none; }
      .back_to_top_container .back_to_top_frame a.back_to_top_btn {
        height: 6rem;
        line-height: 6rem;
        opacity: 0.4;
        color: gray; }
        .back_to_top_container .back_to_top_frame a.back_to_top_btn:hover {
          pointer-events: auto;
          opacity: 0.8; }

.archive_list_container {
  margin: 2em auto; }
  .archive_list_container table.archive_list_data {
    border: 0; }
    .archive_list_container table.archive_list_data tbody {
      vertical-align: baseline; }
      .archive_list_container table.archive_list_data tbody .archive_entry {
        margin: 1.6em auto; }
        .archive_list_container table.archive_list_data tbody .archive_entry td {
          background-color: transparent;
          margin-bottom: 1em; }
          .archive_list_container table.archive_list_data tbody .archive_entry td .archive_monthly_title span.archive_monthly_date {
            color: indianred;
            font-size: 1.6em;
            font-weight: bold; }
            .archive_list_container table.archive_list_data tbody .archive_entry td .archive_monthly_title span.archive_monthly_num {
              font-size: 1em;
              color: gray; }

.not_found_message_container .not_found_title {
  text-align: center;
  color: indianred; }

.tagcloud_container .tagcloud_title {
  color: indianred;
  text-align: center; }
  .tagcloud_container .tagcloud_content {
    text-align: center;
    width: 100%; }
    .tagcloud_container .tagcloud_content .tagcloud_entry {
      margin: 0.5em;
      display: inline-block; }
      .tagcloud_container .tagcloud_content .tagcloud_entry .tagcloud_count {
        font-size: 0.8em;
        color: gray; }

.categories_container .categories_title {
  color: indianred;
  text-align: center; }
  .categories_container .categories_content {
    text-align: center;
    width: 100%; }
    .categories_container .categories_content .category_entry {
      margin: 0.5em;
      display: inline-block; }
      .categories_container .categories_content .category_entry .category_count {
        font-size: 0.8em;
        color: gray; }

@media (max-width: 767px) {
  .main_width, .post_list_container, .pager_container, .post_detail_container,
  .comments_container, .archive_list_container, .not_found_message_container,
  .tagcloud_container, .categories_container {
    width: 90%;   }
    .full_width, .header_container nav, .footer_container {
      width: 100%;   }
      .hidden_on_small {
        display: none;   }
}

@media (max-width: 440px) {
  .post_list_entry_footer {
    display: none;   }
    .hidden_on_tiny {
      display: none;   }
}

.input_body {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial; }

  .updater {
    margin: 1em; }
