.doc_comments {
  margin-top: 30px;
  padding: 35px 0 45px; }
  .doc_comments textarea {
    font-size: 14px; }
    .doc_comments .comments_block_title {
      color: #000; }
      .doc_comments img {
        max-height: 100%; }
        .doc_comments .comments {
          padding: 0;
          margin: 0; }
          .doc_comments .comments .sub_comments {
            padding-left: 20px; }
            .doc_comments .comments .comment {
              padding: 24px 20px;
              background-color: #fff;
              border: 1px solid rgba(150, 150, 150, 0.18);
              margin: 30px 0 0;
              list-style: none;
              border-radius: 5px;
              word-break: break-all; }
              .doc_comments .comments .comment .author {
                position: relative;
                line-height: 1.3;
                padding-bottom: 14px; }
                .doc_comments .comments .comment .author .avatar {
                  position: absolute;
                  top: 0;
                  width: 36px;
                  height: 36px; }
                  .doc_comments .comments .comment .author .avatar img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%; }
                .doc_comments .comments .comment .author b {
                  background-color: #fff;
                  color: #000;
                  padding: 0;
                  font-weight: normal; }
                  .doc_comments .comments .comment .author .reply {
                    margin-left: 3px;
                    font-size: 65%;
                    color: #666; }
                    .doc_comments .comments .comment .author b,
                    .doc_comments .comments .comment .author small {
                      margin-left: 48px; }
              .doc_comments .comments .comment p {
                margin: 0.2em 0; }
                .doc_comments .comments .comment a {
                  border-bottom: none; }
                  .doc_comments .comments .comment .p_part {
                    margin-top: 1em;
                    margin-bottom: 1em; }
  .doc_comments #new_comment_form {
    margin-top: 15px;
    padding: 24px 0 0;
    background-color: #fff;
    border: 1px solid rgba(150, 150, 150, 0.2); }
    .doc_comments #new_comment_form .comment_error {
      display: none;
      text-align: center;
      color: indianred;
      font-size: 90%; }
      .doc_comments #new_comment_form .comment_trigger,
      .doc_comments #new_comment_form .input_body {
        padding-left: 20px;
        padding-right: 20px; }
        .doc_comments #new_comment_form .input_body {
          padding-top: 15px;
          padding-bottom: 15px;
          height: 18px;
          margin-top: 12px;
          position: relative;
          background-color: #fbfbfb; }
          .doc_comments #new_comment_form .input_body ul,
          .doc_comments #new_comment_form .input_body li {
            list-style: none;
            margin: 0;
            padding: 0; }
            .doc_comments #new_comment_form .input_body .ident {
              width: 75%; }
              .doc_comments #new_comment_form .input_body li {
                display: block;
                float: left;
                width: 33.33%; }
                .doc_comments #new_comment_form .input_body li input {
                  z-index: 10;
                  position: relative;
                  background-color: transparent;
                  padding-right: 1.5em;
                  padding-left: 1.5em; }
          .doc_comments #new_comment_form .input_body li:last-child {
            margin-right: 0; }
    .doc_comments #new_comment_form .comment_trigger {
      position: absolute;
      z-index: 10; }
      .doc_comments #new_comment_form .comment_trigger .avatar {
        position: absolute;
        width: 36px;
        height: 36px; }
        .doc_comments #new_comment_form .comment_trigger .avatar img {
          width: 100%;
          border-radius: 100%; }
          .doc_comments #new_comment_form .comment_trigger .trigger_title {
            color: #aaa;
            font-size: 20px;
            margin-left: 48px;
            line-height: 38px; }
    .doc_comments #new_comment_form .new_comment {
      position: relative;
      z-index: 12; }
      .doc_comments #new_comment_form .comment_triggered {
        display: none;
        height: 48px; }
        .doc_comments #new_comment_form input, .doc_comments #new_comment_form textarea {
          padding: 0;
          line-height: 1.4;
          border: none;
          width: 100%;
          max-width: none !important;
          font-size: 1em;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          outline: none; }
          .doc_comments #new_comment_form textarea {
            line-height: 1.8;
            padding: 0 20px 0 20px;
            background-color: transparent;
            resize: none;
            height: 55px; }
            .doc_comments #new_comment_form .comment_submit_button {
              padding-left: 25px;
              padding-right: 25px;
              width: auto;
              position: absolute;
              right: 0;
              top: 0;
              background-color: #000;
              color: #fff;
              height: 32px;
              line-height: 32px;
              margin: 8px 10px 8px 0;
              border-radius: 20px;
              text-decoration: none; }
              .doc_comments #new_comment_form .comment_submit_button:hover {
                background-color: #303538; }

.comment_error {
  display: block;
  padding-top: 1em; }

  @media print, screen and (max-width: 35.5em) {
    .input_body li {
      float: none;
      width: 100%;
      margin-bottom: 0.6em;   }
}

.textcomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #292b2c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }
  .textcomplete-dropdown li {
    font-size: 12px;
    padding: 2px 6px; }
    .textcomplete-dropdown .textcomplete-item.active {
      background: #3E8ACC;
      color: white; }
      .textcomplete-dropdown .textcomplete-item.active a {
        color: white; }
