/* CSS Document */
@charset "utf-8";


.csdn-avatar img{border:0;}
.csdn-avatar250{width:250px; height:250px;}
.csdn-avatar150{width:150px; height:150px;}
.csdn-avatar100{width:100px; height:100px;}
.csdn-avatar75{width:75px; height:75px;}
.csdn-avatar50{width:50px; height:50px;}