.dp-highlighter,.prettyprint{
    position:relative;
    overflow-y: hidden;
    overflow-x:auto;
}
.pad_bot{
    padding-bottom:45px!important;
}
.save_code{
    display: none;
    position: absolute;
    /*width: 105px;*/
    height:60px;
    right: 30px;
    top:5px;
    font-size: 14px;
    color:#fff;
    cursor: pointer;
    z-index:2;
}

#mask_code{
    display: none;
    position: fixed;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index:990;
}

/*.gist_edit{
    position: absolute;
    left:50%;
    top:50%;
    width: 505px;
    height: 330px;
    margin: -165px 0 0 -252px;
    z-index: 9999;
}*/

.gist_edit{
  display: none;
  position: absolute;
  left:50%;
  top:50%;
  width: 505px;
  height: 330px;
    /*margin: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
  margin: -165px 0 0 -252px;
  z-index: 9999;
}

.save_snippets {

    clear: both;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dddcdd;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    box-sizing:border-box;
}
.save_snippets .tit {
    clear: both;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #dddcdd;
    padding: 0 20px;
    box-sizing:border-box;
}
.save_snippets .tit h3 {
    float: left;
    font-weight: normal;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.gist_edit_list{
    padding:0;
    box-sizing:border-box;
    width:100%;
}
.save_snippets .tit span {
    display: block;
    float: right;
    color: #999;
    height: 45px;
    line-height: 45px;
    box-sizing:border-box;
}
.save_snippets .tit span a {
    color: #0000ff;
    text-decoration: underline;
}
.save_snippets .tit span a:link, .save_snippets .tit span a:visited, .save_snippets .tit span a:hover, .save_snippets .tit span a:active {
    color: #0000ff;
    text-decoration: underline;
}
.save_snippets .con_form {
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    box-sizing:border-box;
}
.save_snippets .con_form .gist_edit_list li {
    clear: both;
    overflow: hidden;
    min-height: 32px;
    margin-bottom: 20px;
    list-style: none;
    box-sizing:border-box;
}
.save_snippets .con_form .gist_edit_list li span.red {
    display: block;
    float: left;
    line-height: 36px;
    height: 32px;
    color: #f00;
    padding-right: 10px;
    margin-left: 20px;
    box-sizing:border-box;
}
.save_snippets .con_form .gist_edit_list li span.txt {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding-right: 20px;
}
.save_snippets .con_form .gist_edit_list li .form-input {
    float: left;
    width: 398px;
    height: 30px;
    border: 1px solid #dddcdd;
    background: #fafafa;
    padding: 0 10px;
    color: #666;
    font-family: "Microsoft YaHei";
    box-sizing:border-box;
}
#divSearchTags{
    float:left;
    width: 398px;
    color: #666;
    font-family: "Microsoft YaHei";
    border: 1px solid #dddcdd;
    background: #fafafa;
    padding: 0 10px;
    margin-left:2px;
    box-sizing:border-box;
    text-align:left;
}
#divSearchTags .label span{
    color:#666;
}
.insertTag{
    height: 30px;
    width:208px;
    color: #666;
    background: none;
    border:none;
    box-sizing:border-box;
}
#divSearchTags .blog_tag{
    display: block;
    float:left;
    margin:7px 10px 7px 0;
    padding:0 5px;
    background: #f3f3f3;
    color:#666;
    border-radius: 10px;
    box-sizing:border-box;
}
#divSearchTags .blog_tag span{
    display: block;
    float: left;
}
#divSearchTags .label a{
    color:#666;
    margin-left:8px;
    box-sizing: border-box;
}
.save_snippets .con_form .gist_edit_list li .form-textarea {
    float: left;
    width: 398px;
    height: 60px;
    font-size: 12px;
    border: 1px solid #dddcdd;
    background: #fafafa;
    padding: 3px 10px;
    color: #666;
    font-family: "Microsoft YaHei";
    box-sizing:border-box;
}
.save_snippets .bottom-bar {
    clear: both;
    overflow: hidden;
    border-top: 1px solid #dddcdd;
    padding: 17px 20px;
}
.save_snippets .bottom-bar .btn-submit {
    border: 1px solid #888;
    background: #f0f0f0;
    border-radius: 2px;
    border-left: 0;
    border-top: 0;
    width: 45px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    float: right;
    margin-left: 7px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #333;
}


/*code代码行号错位*/
.file_holder .file_content.code table.lines pre.line_numbers{
    width:40px!important;
}