/* Write your styles */

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: "Menlo", sans-serif;
  background-image: url("/public/img/bg.jpg");
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }


.lp-container {
  width: 100%;
  max-width: 820px;
}

.lp-topbar {
  background: #fff;
}

.lp-topbar-brand {
  font-size: 120%;
  font-weight: 500;
}

.lp-archvies {
  margin-top: 1.6rem;
}

.lp-archives-header {
  padding-left: .5rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.lp-archives-list ul {
  list-style: none;
  padding-left: .5rem;
}

.lp-archives-list ul li {
  line-height: 1.8em;
}

.lp-archives-list ul li h3 {
  margin: 0;
  font-weight: 600;
}

.lp-archives-list ul li a {
  text-decoration: none;
  color: #3e3e3e;
}

.lp-archives-list ul li a:hover {
  color: #cf0e0e;
}

.lp-archives-list ul li span {
  padding-right: 1rem;
  font-size: 80%;
}

.lp-footer {
  font-size: 1.4rem;
}

.lp-footer p {
  margin: 0;
}

.lp-post {
  padding-left: .5rem;
}

.lp-post-title {
  font-size: 2.3rem;
  font-weight: 500;
  margin-left: .2rem;
  margin-bottom: .5rem;
}

.lp-post-meta {
  display: block;
  margin-left: .5rem;
  margin-bottom: 2.2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.lp-post-meta .lp-post-date {
  padding-left: .5rem;
  margin-right: .8rem;
}

.lp-post-meta .lp-post-tags {
  padding-left: .5rem;
}

.lp-post-content {
  margin: .15rem;
  text-align: justify;
  word-break: break-all;
}

.lp-post-content h1, h2, h3, h4, h5, h6{
  margin: 0;
  margin-top: 2rem;
}

.lp-post-content code {
  white-space: pre-wrap;
}

.lp-post-content pre {
  padding: 0;
  overflow: auto;
  display: block;
  white-space: pre;
  border-radius: 5px;
}

.lp-post-content img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
  border: 1px solid #0a0a0a;
}

.lp-friends {
  margin-top: 1.6rem;
}

.lp-friends-list ul {
  list-style: none;
  padding-left: .5rem;
}

.lp-friends-list ul li {
  line-height: 1.6rem;
}

.lp-friends-list ul li a {
  text-decoration: none;
  color: #3e3e3e;
}

.lp-friends-list ul li a:hover {
  color: #cf0e0e;
}

.lp-about {
  margin-top: 1.6rem;
}

@media only screen and (max-width: 640px) {
  .lp-archives-header {
    display: none;
  }
 
  .lp-archives-list ul li span {
    display: none;
  }
  
  .lp-post-title {
    font-size: 2.1rem;
  }
  
  .lp-post-meta {
    font-size: 1.4rem;
  }
}

.lp-not-found {
  padding-left: .5rem;
}

.lp-not-found-content {
  font-size: 1.8rem;
}

.lp-page-links {
  text-align: center;
}
